/* questionbox.css */
body {
    margin: 0;
    padding: 0;
    background: url("https://media-s3-us-east-1.ceros.com/travelers/images/2023/06/13/6bc5d2a8742aa0855424f546d7c78e04/bg-light-quiz-page.jpg");
}

.question-box {
    background-image: url("https://media-s3-us-east-1.ceros.com/travelers/images/2023/06/13/1d47b428442363a9724a1d7a588519b8/bg-dark.jpg");
    background-color: rgba(213, 213, 213, 0.611);
    background-blend-mode: overlay;
    width: 75vw;
    height: 40vw;
    margin-left: 13vw;
    border-radius: 1.5vw;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.922);
    text-align: center;
}
#questionNo {
    padding-top: 2vw;
    font-size: 35px;
    font-weight: 400;
}

#Question {
    padding-bottom: 2vw;
    font-size: 35px;
}

.option {
    width: 70vw;
    height: 3vw;
    margin-bottom: 1.5vw;
    border-radius: 2vw;
    border-style: none;
    font-size: 1.2vw;
    cursor: pointer;
    background-color: black;
    color: white;
}
